/.vscode
/aaaaaa.cpp
/aaaaaa.exe
/aaaaajj.cpp
/aaaaajj.exe
/aaaaas.cpp
/aaaaas.exe
/arnnnob.cpp
/arnnnob.exe
/arnob.cpp
/arnob.exe
/arnob.js
/class&object.html
/class&object.js
/fhtfhgfgj.js
/firstclass.cpp
/firstclass.exe
/firstcss.css
/hffghh.cpp
/hffghh.exe
/indox.htm
/input.txt
/output.txt